:host {
  a {
    all: initial;
    color: #7cbef0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  .source {
    padding: 8px 0;
    font-size: 12px;
    line-height: 1.2;
    color: #999;
  }
  .section {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 1.2;
    &:not(:first-child) {
      border-top: 1px solid #eee;
    }
  }
  .label {
    display: block;
    margin: 8px 8px 8px 0;
    padding: 2px 0;
    color: white;
    background: #bbb;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }
  .content {
    flex: 1;
    min-width: 0;
    padding: 8px 0;
    > * {
      display: block;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  .phonetic {
    display: inline-block;
    margin-left: 8px;
  }

  .item ~ .item {
    margin-top: 8px;
  }
}
