.header {
  padding: 0 0 8px;
  border-bottom: 1px dashed #aaa;
  > a {
    margin-left: 8px;
    color: #7cbef0;
    cursor: pointer;
    font-size: 12px;
  }
}

.detail {
  margin: 8px 0 0;
  padding: 0;
  line-height: 22px;
  list-style: none;
  font-size: 12px;
  > li {
    line-height: 26px;
  }
}
